extends layout

block content
  div(class="callout alert-callout-border alert")
    h2= message
    if typeof(error) !== 'undefined'
      div(class="callout")
        if error.status
          h3= error.status
        if error.stack
          pre #{error.stack}
