extends layout

block content
  h1.title= title
  p#welcome Welcome to #{slack_name}
  p#question We're a #[a(href="http://www.slack.com") Slack] community for... Sound awesome?
  p #[a(href="/signup")#[button.btn.btn-lg.btn-success Sign up now!]]
