doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    script(src='/javascripts/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body.content
    div#content
      block content
