extends layout

block content
  h1= title
  p Yay, you have successfully sent a request to join #{slack_name}. Please keep an eye out for an e-mail in your inbox for the invite e-mail when we approve your request.
