extends layout

block content
  h1.title= title
  p#welcome You're probably wondering what the heck #[a(href="https://www.slack.com") Slack] is.
  p.input It's a messaging app that allows people to chat with each other, share files, and many more.
  p.input Slack is designed for corporate team collaboration, but many people have taken the free tier to create online communities. This one is one of these communities!
  p.input With Slack, you can chat in chatrooms, called channels. They usually have a specific topic, like for example, #photography would be about photography.
  p#welcome How do I use Slack?
  p.input After you're signed up and received the invitation e-mail, simply log in at the address #[a(href="#{slack.url}") #{slack.url}]. Don't forget to bookmark it!
  p.input If you prefer to use desktop clients, or want to use on your mobile phone, download the apps at #[a(href="https://www.slack.com/apps") https://www.slack.com/apps]. Clients available for Windows, OS X, Linux, iOS, Android, and Windows Phone.
  p.input Please keep an eye out for an e-mail in your inbox for the invite e-mail when we approve your request.
